/* *{
  text-align: center;
} */
.background_image {
  background-image: url(https://source.unsplash.com/1600x900/?japan);
  /* background-image: url(./pic.jpeg) ; */
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  height: auto;
  min-height: 100vh;
  /* min-height: 300vh; */
  /* height: 200vh; */
  top: -40vh;
}
.location_form {
  z-index: 1;
  position: relative;
  
}
input[type="text"] {
  border: none;
  line-height: 1.625 !important;
  border: 0px !important;
  border-radius: 32px !important;
  padding: 15px !important;
  cursor: auto !important;
  background-color: rgb(216, 80, 80);
  /* background-image: linear-gradient(-75deg, rgb(216, 80, 80) 50%,rgba(216, 80, 80, 0) 50%) !important; */
  color: white;
  font-size: large;
  opacity: 0.9;
  outline: none;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5) !important;
}
::placeholder {
  color: rgba(255, 255, 255, 0.541) !important;
  letter-spacing: 0.25em;
}
.location_form {
  margin-top: 20vh !important;
  margin-left: 15vw !important;
  margin-right: 15vw !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.location_form_submit {
  border: none;
  line-height: 1.625 !important;
  border: 0px !important;
  border-radius: 32px !important;
  padding: 15px !important;
  cursor: pointer;
  background-color: rgb(216, 80, 80);
  color: white;
  font-size: large !important;
  outline: none !important;
  opacity: 0.9 !important;
  transition: 0.35s !important;
  align-self: center !important;
  
}
.location_form_submit:hover {
  transform: scale(1.0) !important;
  /* border-radius: 55px !important; */
  background-position: left;
  color: white;
  /* border: 2px solid white !important; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692) !important;
  
}
.location_form_submit {
  align-self: center !important;
  margin-top: 2vh !important;
  background-image: linear-gradient(to right,rgb(216, 80, 80) 50% ,white 50%);
  background-size: 200% 100%;
  background-position: right;
  padding: 0.5em 0.85em !important;
  transition: all 0.25s ease-in-out !important;
  color: rgb(216, 80, 80);
  border-radius: 25px !important;
  border: 2px solid rgb(216, 80, 80) !important;
}
.append_here_before {
  /* display: inline-block; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  position: relative;
  margin-top: 15vh;
  z-index: 2;
  /* width: auto; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(97, 85, 85, 0.7);
  font-style: italic;
  letter-spacing: 0.17em;
  font-size: 2.5em;
  transition: 0.8s;
  /* text-transform: capitalize; */
  text-align: center !important;
  /* border: 2px solid red; */
  /* align-items: center; */
  /* color:  */
  /* border: 2px solid red; */
}
.cardContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 662px) {
  .location_form {
    margin-top: 30vw;
  }
  .append_here_before {
    font-size: 4vw;
    margin-top: 12vh;
  }
}
@media (max-width: 500px) {
  .location_form {
    margin-top: 45vw;
  }
}

@media (max-width: 400px) {
  .append_here_before {
    font-size: 4vw;
    margin-top: 12vh;
  }
}
