.background_image1 {
  background-size: cover;
  background-image: url(https://source.unsplash.com/1600x900/?japan);
  width: 100%;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0vh;
  height: auto;
  min-height: 200vh;
}

.form-box {
  background-color: rgba(248, 195, 195, 0.712);
  /* margin: auto auto; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(224, 213, 213);
  position: relative;
  /*top: 15vh;*/
  /* bottom: 0; */
  margin-top: -20vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50vw;
  /* height: 520px; */
  height: 48rem;
}
.FailedToLogin {
  /*width:25vw;*/
  /*display:none;*/
  width: auto;
  z-index: 10;
  margin: auto auto;
  font-size: 15px;
}
.MuiCardHeader-title {
  font-size: 2rem !important;
}

.MuiCardHeader-subheader {
  font-size: 1.5rem !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 1rem !important;
}

.css-1wc848c-MuiFormHelperText-root {
  font-size: 1.2rem !important;
  color: navy !important;
}

@media only screen and (max-width: 650px) {
  .form-box {
    /* top: 25vh; */
    /* height: 40rem; */
    width: 65vw;
  }
  .MuiCardHeader-title {
    font-size: 1.4rem !important;
  }

  .MuiCardHeader-subheader {
    font-size: 1rem !important;
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 1rem !important;
  }

  .css-1wc848c-MuiFormHelperText-root {
    font-size: 1rem !important;
    color: navy !important;
  }
}

@media only screen and (max-width: 700px) {
  .form-box {
    /* top: 20vh; */
    /* height: 48rem; */
    width: 90vw;
  }
}
